/* Login Page */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination span.swiper-pagination-bullet {
    background: black;
}
  
.swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #ebeef6;
}

/* Form Label Transform */

.login-form section.login-form .login-form-card label,
.login-form section.login-form .forgot-pass1 label {
    position: absolute;
    top: auto;
    left: 30px;
    bottom: 13px;
    transform: translateY(1px);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* OTP ENtry Page */

#forgot-pass.forgot-pass .forgot-pass2 .numbers input {
    /* border: solid 1.3px #cec2c2; */
    border-radius: 10px;
    width: 15%;
    margin-right: 15px;
    height: 55px;
}

#forgot-pass.forgot-pass .forgot-pass2 form .otptimmer #timer{
    color: rgba(0, 168, 68, 1);
    transition: color 0.5s ease;
}

#forgot-pass.forgot-pass .forgot-pass2 form .otptimmer #timer.orange {
    color: rgba(243, 119, 50, 1);
}

#forgot-pass.forgot-pass .forgot-pass2 form .otptimmer #timer.red {
    color: rgba(255, 0, 0, 1);
}

/* Reset Successful */

#forgot-pass.forgot-pass .forgot-pass4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 119, 50, 0.8);
    z-index: 0;
    transition: all 0.5s;
    animation: ResetSuccess 1.2s ease-in-out;
}

@media only screen and (max-width:767px) {

    #forgot-pass.forgot-pass .forgot-pass::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0px;
    }

    /* OTP ENtry Page */

    #forgot-pass.forgot-pass .forgot-pass2 .numbers input {
        width: 20%;
    }

    #forgot-pass.forgot-pass .forgot-pass2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0px;
    }

    #forgot-pass.forgot-pass .forgot-pass3::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0px;
    }
}